<table>
	<tr>
		<td>Distance</td>
		<td>Start Date</td>
		<td>End Date</td>
	</tr>
	<tr>
		<td>
			<select id="miles" name="miles">
				<option>All</option>
				<option value="<1">&lt 1 miles</option>
				<option value="1-5">1 - 5 miles</option>
				<option value="5-10">5 - 10 miles</option>
				<option value="10-15">10 - 15 miles</option>
				<option value="15-20">15 - 20 miles</option>
				<option value=">20">&gt 20 miles</option>
			</select>
		</td>
		<td>
			<%= date_field_tag 'start_date' %>
		</td>
		<td>
			<%= date_field_tag 'end_date' %>
		</td>
		<td>
			<%= button_tag 'Search' %>
		</td>
	</tr>
</table>