/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

td {
	width: 150px;
}

.submit_button {
	visibility: hidden;
}

.run-form {
	display: block;
	width: 100%;
}
.button_links {
	background-color: #FF8000;
	padding: 3px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 0px;
	border: none;
	font-family: Tahoma, Arial, sans-serif;
}

.photo_content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;

}

.comment {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	display: inline-block;
}

.image_thumbnail {
	height: 50px;
	width: 50px;
}

/*These styles were taken from the section 5 example*/
#error_explanation {
  background-color: #ffdddd;
  border: 2px solid #ff5555;
  margin: 20px 0;
  padding: 10px;
}

#notices {
  background-color: #ddddff;
  border: 2px solid #9999ff;
  padding: 10px;
}

.field_with_errors {
  color: #ff5555;
  font-weight: bold;
}

.field_with_errors input {
  color: #ff5555;
  border: 2px solid #ff5555;
}