/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
	text-align: center;
	height: 100%;
}

div.login_text {
	text-align: left;
}

input.input-box {
	height: 60px;
	width: 200px;
	margin: 5px;
	font-size: 20px;
}
div.table {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
div.tr {
	display: table-row;
}

form.register-form {
	width: auto;
}

span.cell {
	display: table-cell;
	text-align: left;
	width: 150px;
}

div.center-content {
	display: inline-block;
	vertical-align: middle;
	width: 500px;
}
.submit_button {
	visibility: hidden;
	height: 0px;
	width: 0px;
}

.center-block {
	text-align: center;
	margin: 20px;
	height: 100%;
}

.center-block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.run-form {
	display: block;
	width: 100%;
}
.button_link {
	cursor: pointer;
	background-color: #A4A4A4;
	padding: 3px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 3px;
	border: none;
	width: 100px;
	font-family: Tahoma, Arial, sans-serif;
}

.photo_content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;

}

.comment {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	display: inline-block;
}

.image_thumbnail {
	height: 50px;
	width: 50px;
}

/*These styles were taken from the section 5 example*/
#error_explanation {
  background-color: #ffdddd;
  border: 2px solid #ff5555;
  margin: 20px 0;
  padding: 10px;
}

#notices {
  background-color: #ddddff;
  border: 2px solid #9999ff;
  padding: 10px;
}

.field_with_errors {
  color: #ff5555;
  font-weight: bold;
}

.field_with_errors input {
  color: #ff5555;
  border: 2px solid #ff5555;
}