/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
	text-align: center;
	height: 100%;
	color: #858181;

}

div.login_text {
	text-align: left;
}

input.input-box {
	height: 60px;
	width: 140px;
	margin: 5px;
	font-size: 14px;
}
div.table-centered {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
div.tr {
	display: table-row;
}

input.table-field {
	width: 140px;
	opacity: 1;
}

.nav-link {
	font-weight: bold;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 20px;
}

.nav-bar {
	padding-top: 20px;
}

.hidden-field {
	width: 0px;
	height: 0px;
	visibility: hidden;
}

.run-list {
	background: rgba(255,255,255,0.75);
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px; 
}
.col-title span.cell {

	padding-left: 20px;
}

.search-form {
	padding-bottom: 20px;
}

form.tr {
	display: table-row;
}
form.register-form {
	width: auto;
}
span.td {
	display: table-cell;
}
span.cell {
	display: table-cell;
	text-align: left;
	width: 145px;
}

div.center-content {
	display: inline-block;
	vertical-align: middle;
	width: 500px;
}

.center-block {
	text-align: center;
	margin: 20px;
	height: 100%;
	background-color: inherit;
}

.center-block:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}


.button_link {
	cursor: pointer;
	background-color: #A4A4A4;
	padding: 3px;
	color: white;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin: 3px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	width: 100px;
	font-family: Tahoma, Arial, sans-serif;
}

.object-enter {
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

.object-enter.object-enter-active {
	opacity: 1;
}

.object-leave {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.object-leave.object-leave-active {
	opacity: 0.01;
}


/*These styles were taken from the section 5 example*/
#error_explanation {
  background-color: #ffdddd;
  border: 2px solid #ff5555;
  margin: 20px 0;
  padding: 10px;
}

#notices {
  background-color: #ddddff;
  border: 2px solid #9999ff;
  padding: 10px;
}

.field_with_errors {
  color: #ff5555;
  font-weight: bold;
}

.field_with_errors input {
  color: #ff5555;
  border: 2px solid #ff5555;
}