// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag_photo {
	cursor: crosshair;
	position: relative;
	display: inline-block;
	line-height: 0px;
}
.tagged_photo {
	position: relative;
	display: inline-block;
}

.tag_box {
	position: absolute;
	display: inline;
	border: 2px solid black;
}

.active_tag_box {
	position: absolute;
	display: inline;
	border: 2px solid white;
}

.inactive_tag_box {
	position: absolute;
	display: inline;
	border: 1px dashed black;
}

#feedback {
	display: inline;
	position: absolute;
}

.hover_message {
	display: inline;
	float: left;
}

.tagged_name {
	display: inline;
	whitespace: nowrap;
}

